$head_green_color: #0bad19;
$head_red_color: #e23636;
$link-color: #71abe5;

$grey: #798086;
$dark-grey: $grey;
$light-grey: $grey;
$fg: #eee;
$bg: #222;

$code-block-bg: #394146;
$inline-code-block-bg: #394146;

$light-bg: #464c4e;
$dark-bg: #272C2D;
$dark-fg: #999;

$input-border: #48535a;
$input-border-focused: #48535a;
$input-bg: #30373b;
$border-color: #48535a;

$error-block-bg: #f9eeee;
$error-block-fg: #d13d3d;

$success-block-bg: #eff5f0;
$success-block-fg: #2a6f34;

$head-items-separator: #5e6264;

// colors from https://github.com/Kelbster/highlightjs-material-dark-theme/blob/master/css/materialdark.css
$hljs_fg: #CDD3D8;
$hljs_bg: #2B2B2D;
$hljs_quote: #6272a4;
$hljs_string: #f1fa8c;
$hljs_literal: #bd93f9;
$hljs_title: #75A5FF;
$hljs_keyword: #C792EA;
$hljs_type: #da4939;
$hljs_tag: #abb2bf;
$hljs_regexp: #F77669;
$hljs_symbol: #C792EA;
$hljs_builtin: #C792EA;
$hljs_meta: #75A5FF;
$hljs_deletion: #e6e1dc;
$hljs_addition: #144212;