$head_green_color: #0bad19;
$head_red_color: #ce1a1a;
$link-color: #116fd4;

$grey: #888;
$dark-grey: #777;
$light-grey: #999;
$fg: #222;
$bg: #fff;

$code-block-bg: #f3f3f3;
$inline-code-block-bg: #f1f1f1;

$light-bg: #464c4e;
$dark-bg: #272C2D;
$dark-fg: #999;

$input-border: #e0e0e0;
$input-border-focused: #e0e0e0;
$input-bg: #f7f7f7;
$border-color: #e0e0e0;

$error-block-bg: #f9eeee;
$error-block-fg: #d13d3d;

$success-block-bg: #eff5f0;
$success-block-fg: #2a6f34;

$head-items-separator: #d0d0d0;

// github.com style (c) Vasily Polovnyov <vast@whiteants.net>
$hljs_fg: #333;
$hljs_bg: #f8f8f8;
$hljs_quote: #998;
$hljs_string: #d14;
$hljs_literal: #008080;
$hljs_title: #900;
$hljs_keyword: $hljs_fg;
$hljs_type: #458;
$hljs_tag: #000080;
$hljs_regexp: #009926;
$hljs_symbol: #990073;
$hljs_builtin: #0086b3;
$hljs_meta: #999;
$hljs_deletion: #fdd;
$hljs_addition: #dfd;