@import '../vars';

textarea {
  -webkit-overflow-scrolling: touch;
}

.head {
  padding: 0;
}

// header
.head-logo {
  position: static;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  padding: 18px $side-padding 7px;
}
.head-logo::after {
  display: none;
}
.head-items {
  float: none;
  padding: 0 $side-padding 0 $side-padding - 2px;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
}
a.head-item {
  float: none;
  display: inline-block;
}
a.head-item:hover,
a.head-item:active {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
}
a.head-item:last-child > span {
  border-right: 0;
  padding-right: 12px;
}

// blog
.blog-tags {
  display: none;
}
.blog-list.withtags {
  margin-right: 0;
}
